node_modules
.pgdata
.media
apps/api/.media
.turbo
dist
.next
.expo
expo-env.d.ts
coverage
*.log
.env
.env.local
.env.*.local
!.env.example
apps/api/generated
apps/mobile/.expo
apps/mobile/dist
apps/web/.next
*.tsbuildinfo
.DS_Store
Thumbs.db
.idea
.vscode/*
!.vscode/extensions.json
prisma/*.db
*.pem
*.p12
secrets/
